.title {
  margin: 5em;
}

.title-element {
  text-decoration:none;
}

body {
  font-family: Gadget, sans-serif;
  font-size: 16;
  max-width: 900px;
  padding-left: 2ch;
  padding-right: 3ch;
  margin: 0 auto;
  background: #F5E5E0;
}

a {
  color: black;
  font-weight: bold;
}

img {
  border: none;
  float:right;
  margin-left: 3%;
  margin-bottom: 10%;
  max-width: 40%;
  max-height: 350px;
}

.img2 {
  float:left;
  margin-left:0%;
  margin-right:3%;
}

div {
  margin-bottom:8em;
  clear: both;
}

p {
  margin-top: 0px;
  margin-bottom: 3ch;
  text-align: justify;
}

@media (max-width: 500px) {
  p {
    font-size: 115%;
  }
}
