body{
	background-color: #226765;
}
div{
	width: 90%;
	margin: auto;
}
section{
	padding: 20px;
	border-width: 5px;
	border-style: solid;
	background-color: #A8383B;
	border-color: #7E1518;
}
section.top{
	border-color: #365000;
	background-color: #7D9F35;
}
section.mid{
	text-align: center;
	background-color: #60d5ac;
	border-color: #20805e;
}
